# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
title:            Android UI OpenSource
email:            kmshack@naver.com
description:      Collection of OpenSource for Android UI.
baseurl:          '/AndroidUICollection' # The subpath of your site, e.g. /blog
url:              'http://kmshack.github.io' # The base hostname & protocol for your site
github_username:  kmshack
twitter_username: kmshack_kr

markdown: kramdown
kramdown:
  input: GFM
  hard_wrap: true
  
  
permalink: pretty
paginate:  20

plugins:
  - jekyll-paginate
  - jekyll/tagging

include:
  - _pages

exclude:
  - vendor
  - Gemfile
  - Gemfile.lock

# Tags
tag_page_dir:         tag
tag_page_layout:      tag_page
tag_permalink_style:  pretty

# Pages path
defaults:
  - scope:
      path: '_pages'
    values:
      permalink: /:basename:output_ext

# Authors
authors:
  ahmad:
    name:             MINSOO, KIM
    bio:              developer of Android Application & Author.
    gravatar:         https://s.gravatar.com/avatar/1a22b390e91517a8122ba2be6bb23e53?s=150
    email:            kmshack@naver.com
    github_username:  kmshack
    twitter_username: kmshack_kr
