<article class="post-card-wrap column medium-3 large-3"> 

  <div class="post-card">

    <a href="{{ post.url | prepend: site.baseurl }}" class="block" title="{{ post.title }}">
      <div class="grey-bg post-card__image CoverImage FlexEmbed FlexEmbed--9by16" style="background-image: url({{ post.image | prepend: site.baseurl }})">
        {% if post.featured %}
          <span title="Featured Post">
            <span class="post-card--featured__icon" data-icon="ei-star" data-size="s"></span>
          </span>
        {% endif %}
      </div>
    </a>
      
    <h2 class="post-card__title post-card__title--medium">
       
        <a href="{{ post.link }}" target="_blank">
            <span data-icon="ei-sc-github" data-size="s"></span>
       </a>
      <a title="{{ post.title }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        
    </h2>
      
       <div class="post__tags">
            {% for tag in post.tags %}
              <a href="{{ site.baseurl }}/tag/{{ tag }}">{{ tag }}</a>
            {% endfor %}
        </div>
      
  </div>
</article>