//---------------------------
// Break Points
//---------------------------

// @media #{$medium-down} {  }

$screen:      'only screen';
$medium-up:   '#{$screen} and (min-width: 40.063em)';
$medium-down: '#{$screen} and (max-width: 40em)';
$large-up:    '#{$screen} and (min-width: 70.063em)';
$large-down:  '#{$screen} and (max-width: 70em)';