//---------------------------
// Colors
//---------------------------

$color__base:         #222222;
$color__base--hover:  #7E7E7E;

$grey-bg:               #FAFAFA;
$border-color:          #ECF0F1;
$border-color--darker:  #DADFE1;

$twitter-brand:   #55acee;
$facebook-brand:  #3b5998;
$google-brand:    #dc4e41;