//---------------------------
// Typography
//---------------------------

$font__serif:     'Merriweather', 'Georgia', serif;
$font__monospace: 'Courier', monospace;

$font-size__base:   19px;
$font-size__medium: 16px;
$font-size__small:  14px;
$font-size__tiny:   12px;

$font-weight__light:    300;
$font-weight__regular:  400;
$font-weight__bold:     700;

$line-height__tiny:   round($font-size__tiny * 1.55);
$line-height__small:  round($font-size__small * 1.55);
$line-height__medium: round($font-size__medium * 1.55);
$line-height__base:   round($font-size__base * 1.7);