//---------------------------
// Box
//---------------------------

.box {
  padding-bottom: $line-height__medium;
  margin-bottom: $line-height__medium;
  overflow: hidden;

  border-bottom: 1px solid $border-color;

  @media #{$large-up} {
    padding-bottom: $line-height__base;
    margin-bottom: $line-height__base;
  }

  &--news-letter input[type='email'] { margin-bottom: 0; }

  &__icon {
    float: left;
    width: $line-height__base;
    margin-right: $line-height__base / 3;
  }

  &__title {
    margin: 0;
    font-weight: 300;
    line-height: $line-height__medium;
  }

  &__body {
    @media #{$medium-up} {
      overflow: hidden;
    }
  }

  &__text {
    margin-top: half($line-height__small);
    margin-bottom: 0;

    font-size: $font-size__small;
    line-height: $line-height__small;
  }

  a { text-decoration: none; }

  &--author,
  &--news-letter {
    padding: $line-height__medium;
    background-color: $grey-bg;

    @media #{$large-up} {
      padding: $line-height__base;
    }
  }
}