---
layout: default
---

<div class="wrapper">
  <div class="row row--full">

    <div class="column column--center medium-12 large-12">
      <div class="grey-bg CoverImage FlexEmbed FlexEmbed--2by1" style="background-image: url({{ page.image | prepend: site.baseurl }})"></div>
    </div>

    <div class="column column--center medium-12 large-10">
      <article class="post">
        <header class="post__header">
          <h2 class="post__title">{{ page.title }}</h2>
        </header>

        <div class="post-content">
          {{ content }}
        </div>
      </article>
    </div>

  </div> <!-- row-->
</div> <!-- wrapper -->