//---------------------------
// Sidebar
//---------------------------

.sidebar {
  padding: half($line-height__medium) 0;
  line-height: $line-height__medium;

  @media #{$large-down} {
    background-color: #fff;
    border-bottom: 1px solid $border-color;
  }

  @media #{$large-up} {
    position: fixed;
    top: 0;
    left: 0;
    width: $sidebar-width;
    height: 100%;
    background-color: $grey-bg;
    padding: $line-height__base 0;
    display: flex;
    text-align: center;
  }

  &__logo {
    margin-bottom: half($line-height__base);

    a {
      transition: $base-transition-speed;
      text-decoration: none;
      letter-spacing: 1px;

      &:hover {
        color: $color__base--hover;
      }
    }

    @media #{$large-down} {
      margin-bottom: 0;
      line-height: $line-height__medium;
    }
  }

  &__description {
    margin-bottom: $line-height__medium;
    padding-bottom: $line-height__medium;
    border-bottom: 1px solid $border-color--darker;

    @media #{$large-down} { display: none; }
  }

  &__bottom {
    text-align: center;

    @media #{$large-up} {
      position: absolute;
      right: 0;
      left: 0;
      bottom: $line-height__base;
    }
  }

  // Add border to sidebar (as header) in homepage in small screen

  @media #{$large-down} {
    .home-template & {
      border-bottom: 1px solid $border-color;
    }
  }
}