//---------------------------
// Typography
//---------------------------

body {
  color: $color__base;
  background-color: #fff;
  font-size: $font-size__base;
  font-weight: $font-weight__light;
  font-family: $font__serif;
  line-height: $line-height__base;

  @media #{$medium-down} {
    font-size: $font-size__medium;
    line-height: $line-height__medium;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font__serif;
  font-size: $font-size__base;
  font-weight: $font-weight__light;
  margin: 0 0 $line-height__medium;

  @media #{$medium-down} {
    font-size: $font-size__medium;
  }

  a { text-decoration: none; }
}

.post-content {
  h1 { font-size: 32px; }
  h2 { font-size: 28px; }
  h3 { font-size: 26px; }
  h4 { font-size: 22px; }
  h5 { font-size: 19px; }

  p,
  ul,
  ol {
    font-size: $font-size__medium;
    margin-bottom: $line-height__medium;
  }

  li {
    margin: 0 0 ($line-height__medium / 2);
  }
}

p {
  margin: 0 0 $line-height__base;

  &.font-medium {
    margin: 0 0 $line-height__medium;
  }

  &.font-small {
    margin: 0 0 $line-height__small;
  }

  &.font-tiny {
    margin: 0 0 $line-height__tiny;
  }

  @media #{$medium-down} {
    margin: 0 0 $line-height__medium;
  }
}

blockquote {
  margin: 0;
  padding: 0 (2 * $line-height__base) 0 (2 * $line-height__base);
  font-style: italic;

  @media #{$medium-down} {
    padding: 0 (2 * $line-height__small) 0 (2 * $line-height__small);
  }
}

hr {
  border: 0;
  height: 1px;
  background-color: $border-color;
  margin: 0 0 $line-height__base;

  @media #{$medium-down} {
    margin: 0 0 ($line-height__medium);
  }
}

ul,
ol {
  margin: 0 0 $line-height__base;

  ul, ol {
    margin: 0;
  }

  @media #{$medium-down} {
    margin: 0 0 $line-height__medium;
  }
}

a {
  color: $color__base;
  transition: $base-transition-speed;

  &:visited {
    color: $color__base;
  }

  &:hover {
    color: $color__base--hover;
  }

  &:active {
    color: $color__base;
  }

  &.custom {
    text-decoration: none;
  }
}